:root {
    --position: 50%;
}
body {
    display: grid;
    flex-direction: column;
    min-height: 100vh;
    background-color: #b3b3b3;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 10px 30px 15px rgba(0, 0, 0, 0.5);
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    margin: 0 auto;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    color: #e23c52;
    letter-spacing: 2px;
    font-weight: 500;
    left: -100px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header.sticky{
    padding: 0px 0px;
    background: #fff;
}
header.sticky .logo{
    color: #e23c52;
}
header.sticky ul li a{
    color: #e23c52;
}
#navbar{
    position: absolute;
    background-color: white;
    height: 60px;
    width: 110%;
    left: -10px;
}

.button-container{
    margin-top: 150px;
}
button {
    display: flex;
    align-items: start;
    border: none;
    background: none; /* Removes the default background */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    margin-bottom: 10px;
    margin-left: 50px;
}
button:focus {
    outline: none; /* Removes the outline on focus for a cleaner look */
}
button img{
    width: 100px;
    height: 120px;
}
.active-img {
    border: 3px solid black; /* Example border style */
}
.image-display-area {
    position: absolute;
    width: auto; /* Example size */
    height: 656px; /* Maintain aspect ratio */
    top: 160px; /* Example position from the top */
    left: 220px; /* Example position from the left */
}



.product-short-description {
    position: absolute;
    width: 50vw; /* Full width */
    height: 620px; /* Set the height */
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background: none;
    resize: none; /* Prevent resizing */
    margin-top: 150px;
    margin-left: 900px;
    pointer-events: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal; 
    font-size: 15px;
    line-height: 2;
}



.split1-screen-container {
    margin-top: 100px;
    display: flex;
    width: 100vw;
    height: 620px;
    align-items: center; /* Centers children vertically */
}
.split1-image-side, .split1-text-side {
    width: 50%;
    height: 100%;
}
.split1-text-side {
    background-color: #e23c52; /* Set your desired background color for the text side */
}
.split1-text-section {
    color: white;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 200px;
    margin-left: 35px;
}
.split1-smaller-text{
    color: white;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0; /* Adds some space between text sections */
    font-size: 20px;
    margin-left: 35px;
}
.split2-screen-container {
    display: flex;
    width: 100vw;
    height: 620px;
    align-items: center; /* Centers children vertically */
}
.split2-text-side, .split2-image-side {
    width: 50%;
    height: 100%;
}
.split2-text-side {
    background-color: white; /* Set your desired background color for the text side */
}
.split2-text-section {
    color: #e23c52;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 200px;
    margin-left: 35px;
}
.split2-smaller-text{
    color: #e23c52;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0; /* Adds some space between text sections */
    font-size: 20px;
    margin-left: 35px;
}
.split3-screen-container {
    display: flex;
    width: 100vw;
    height: 620px;
    align-items: center; /* Centers children vertically */
}
.split3-text-side, .split3-image-side {
    width: 50%;
    height: 100%;
}
.split3-text-side {
    background-color: #e23c52; /* Set your desired background color for the text side */
}
.split3-text-section {
    color: white;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 200px;
    margin-left: 35px;
}
.split3-smaller-text{
    color: white;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0; /* Adds some space between text sections */
    font-size: 20px;
    margin-left: 35px;
    margin-right: 30px;
}
.split4-screen-container {
    display: flex;
    width: 100vw;
    height: 620px;
    align-items: center; /* Centers children vertically */
}
.split4-text-side, .split4-image-side {
    width: 50%;
    height: 100%;
}
.split4-text-side {
    background-color: white; /* Set your desired background color for the text side */
}
.split4-text-section {
    color: #e23c52;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 200px;
    margin-left: 35px;
}
.split4-smaller-text{
    color: #e23c52;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0; /* Adds some space between text sections */
    font-size: 20px;
    margin-left: 35px;
}

.scrolling-text_inner {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 50px;
}
.scrolling-text_inner > div {
    display: inline-block;
    animation: scroll-text 45s linear infinite;
    font-weight: bold; 
    color: white;
    background-color: #e23c52;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
@keyframes scroll-text {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-80%);
    }
}

img {
    width: 75vw;
    height: auto;
}
.ba-container{
    margin-top: 215px;
    display: grid; 
    place-content: center;
    overflow: hidden;
    border-radius: 20px;
    --position: 50%;
}
.ba-image-container{
    max-width: 90vw;
    max-height: 75vh;
    position: relative;
}
.ba-slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.before-image{
    height: 900px;
    position: absolute;
    inset: 0;
    width: var(--position);
    object-fit: cover;
}
.ba-slider{
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.ba-slider-line{
    position: absolute;
    inset: 0;
    width: .5vw;
    height: 100%;
    background-color: #fff;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
}
.ba-slider-button{
    position: absolute;
    background-color: #fff;
    color: black;
    padding: .5rem;
    border-radius: 100vw;
    display: grid;
    top: 50%;
    place-items: center;
    position: absolute;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.5);
}



.row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #e23c52;
    color: white;
    height: 180px;
}
.footer-col1{
    margin-top: 25px;
    flex-basis: 33.33%;
}
.footer-col2, .footer-col3 {
    margin-top: 18px;
    flex-basis: 33.33%;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-col2 ul, .footer-col3 ul {
    line-height: 1.5; /* adjust as needed */
    list-style-type: none;
    font-size: 85%;
    padding: 0;
    margin: 0;
    margin-top: -10px;
    font-weight: normal; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}