header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    margin: 0 auto;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    color: #e23c52;
    letter-spacing: 2px;
    font-weight: 500;
    left: -100px;
    font-size: 18px;
}
header.sticky{
    padding: 0px 100px;
    background: #fff;
}
header.sticky .logo{
    color: #e23c52;
    left: -100px;
}
header.sticky ul li a{
    color: #e23c52;
    left: -200px;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-size: cover;
}
#navbar{
    background-color: white;
    height: 100px;
    width: 100%;
}