header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    margin: 0 auto;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    color: #e23c52;
    letter-spacing: 2px;
    font-weight: 500;
    left: -100px;
    font-size: 18px;
}


header.sticky{
    padding: 0px 0px;
    background: #fff;
}
header.sticky .logo{
    color: #e23c52;
}
header.sticky ul li a{
    color: #e23c52;
}

.top-video{
    position: absolute;
    padding: 100px 0;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

#navbar{
    position: absolute;
    background-color: white;
    height: 100px;
    width: 110%;
    left: -10px;
}