body {
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 10px 30px 15px rgba(0, 0, 0, 0.5);
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    margin: 0 auto;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    color: #e23c52;
    letter-spacing: 2px;
    font-weight: 500;
    left: -100px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header.sticky{
    padding: 0px 0px;
    background: #fff;
}
header.sticky .logo{
    color: #e23c52;
}
header.sticky ul li a{
    color: #e23c52;
}


#navbar{
    position: absolute;
    background-color: white;
    height: 100px;
    width: 110%;
    left: -10px;
}


.top-video{
    position: relative;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}
.video-placeholder {
    height: 1vh; 
}

.video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-container video {
    width: 100%;
    height: auto;
}
.shop-now-video {
    position: absolute;
    top: 27%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: #e23c52;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 2;
}


.video-text {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 3em;
    text-align: right;
    height: 70%;
    width: 75%;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.smaller-text {
    font-size: 50%;
    color: white;
    text-align: right;
    width: 96%;
}


.image-row {
    display: flex;
    justify-content: space-between;
}
.image-container {
    position: relative;
    width: 33.1%;
}
.image-container img {
    width: 100%;
    height: auto;
}
.image-text {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #e23c52;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.shop-now-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: #e23c52;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.slider1 {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 600px;
}
.slider1::-webkit-scrollbar {
    display: none;
}
.slider1 img {
    width: 100%;
    height: 100%;
    scroll-snap-align: end;
    object-fit: cover;
}
.slider1-wrapper {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: auto;
}
.slider1-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider1-nav a{
    width: 1rem;
    height: 1rem;
    background-color: #e23c52;
    border-radius: 50%;
    opacity: 0.7;
    transition: ocacity ease 250ms;
}
.slider1-nav a:hover{
    opacity: 1;
}
.slider1-nav a.active {
    opacity: 1;
}


.slider1-container .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.slider1-container .slider1-wrapper {
    width: 65%;
}
.slider1-container .slider1-textbox {
    background-color: #e23c52;
    padding: 10px;
    height: 580px;
    margin-left: 1010px;
    width: 35%;
}
.slider1-container .slider1-textbox p {
    margin: 0;
}
.title{
    padding-top: 20%;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.description{
    padding-top: 30px;
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: serif;
}
.slider1-shop-now {
    position: relative;
    top: 420px;
    left: -375px;
    display: block;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #e23c52;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bar-image-container {
    position: relative;
    width: 100%;
    height: auto;
}
.bar-image {
    position: relative;
    top: -85px;
    height: auto;
    width: 100%;
}
.bar-contactus {
    position: relative;
    top: -250px;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    background-color: white;
    color: #e23c52;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bar-text {
    position: absolute;
    color: white;
    font-size: 3em;
    top: 12%;
    left: 815px;
    width: 500px;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.bar-smaller-text {
    position: relative;
    font-size: 50%;
    left: -38px; 
    color: white;
    text-align: left;
}


.faq-text {
    position: relative;
    color: black;
    font-size: 3em;
    top: -70px;
    left: 875px;
    width: 1000px;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.faq-smaller-text {
    position: relative;
    font-size: 50%;
    left: -230px; 
    color: black;
    text-align: left;
    font-weight: normal;
}
#accordian{
    position: relative;
    left: 450px; 
    width: 100%;
    height: 100%;
    top: -30px;
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#accordian li{
    list-style: none;
    width: 50%;
}
#accordian li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
#accordian li label span {
    display: inline-block; /* allows the transform to be applied */
    transition: transform 0.3s ease; /* animate the transform */
}
#accordian input[type="checkbox"] + label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#accordian input[type="checkbox"] + label span{
    transform: rotate(90deg);
    font-size: 22px;
}
#accordian li input[type="checkbox"]:checked ~ label span {
    transform: rotate(270deg); /* rotate when the checkbox is checked */
}
#accordian input[type="checkbox"] {
    display: none;
}
#accordian .content{
    padding: 0 10px;
    line-height: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#accordian input[type="checkbox"]:checked + label + .content{
    max-height: 500px;
    transition: max-height 1s;
}

.row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #e23c52;
    color: white;
    height: 180px;
}
.footer-col1{
    margin-top: 25px;
    flex-basis: 33.33%;
}
.footer-col2, .footer-col3 {
    margin-top: 18px;
    flex-basis: 33.33%;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-col2 ul, .footer-col3 ul {
    line-height: 1.5; /* adjust as needed */
    list-style-type: none;
    font-size: 85%;
    padding: 0;
    margin: 0;
    margin-top: -10px;
    font-weight: normal; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}